* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: system-ui;
  color: #555;
  background-color: #f7f7f7;
  /* min-height: 100vh; */
}

.container {
  width: 100%;
  display: grid;
  grid-template-columns: 400px auto;
  align-items: center;
}

.country_div {
  align-self: start;
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 2rem;
  margin-top: 4rem;
}

.label {
  font-size: 1.5rem;
}

.countries_dropdown {
  display: flex;
  gap: 1rem;
}

.countries_list {
  width: 200px;
}

.countries {
  /* margin-bottom: 8rem; */
  display: flex;
  opacity: 0;
  transition: opacity 1s;
}

.country {
  width: 35rem;
  background-color: #fff;
  box-shadow: 0 2rem 5rem 1rem rgba(0, 0, 0, 0.1);
  font-size: 1.8rem;
  border-radius: 0.7rem;
}

.country__data {
  padding: 2.5rem 3.75rem 3rem 3.75rem;
}

.country__name {
  font-size: 2.7rem;
  margin-bottom: 0.7rem;
}

.country__region {
  font-size: 1.4rem;
  margin-bottom: 2.5rem;
  text-transform: uppercase;
  color: #888;
}

.country__row:not(:last-child) {
  margin-bottom: 1rem;
}

.country__row span {
  display: inline-block;
  margin-right: 2rem;
  font-size: 2.4rem;
}

.country__img {
  width: 100%;
  height: 17rem;
  object-fit: cover;
  background-color: #eee;
  border-top-left-radius: 0.7rem;
  border-top-right-radius: 0.7rem;
  border-bottom: #888 1px solid;
}

/* .neighbour::before {
  content: 'Neighbour country';
  width: 100%;
  position: absolute;
  top: -4rem;

  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #888;
} */

.neighbour_container {
  align-self: start;
}

.neighbour_div {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 4em;
  justify-content:center;
}

.neighbour-title {
  height: 4rem;
  width: 100%;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.neighbour {
  width: 22rem;
  height: 45%;
  font-size: 1.4rem;
}

.neighbour__data {
  padding: 1.5rem 2.75rem 2rem 1.75rem;
}

.neighbour__name {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.neighbour__region {
  font-size: 1rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
  color: #888;
}

.neighbour__row:not(:last-child) {
  margin-bottom: 1rem;
}

.neighbour__row span {
  display: inline-block;
  margin-right: 1rem;
  font-size: 2rem;
}

.neighbour__img {
  width: 100%;
  height: 14rem;
  object-fit: cover;
  background-color: #eee;
  border-top-left-radius: 0.7rem;
  border-top-right-radius: 0.7rem;
  border-bottom: rgb(204, 204, 204) 1px solid;
}

.btn-country {
  border: none;
  font-size: 2rem;
  padding: 2rem 5rem;
  border-radius: 0.7rem;
  color: white;
  background-color: orangered;
  cursor: pointer;
}

.images {
  display: flex;
}

.images img {
  display: block;
  width: 80rem;
  margin: 4rem;
}

.images img.parallel {
  width: 40rem;
  margin: 2rem;
  border: 3rem solid white;
  box-shadow: 0 2rem 5rem 1rem rgba(0, 0, 0, 0.1);
}
